@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

@theme{
    --font-primary: "Monomaniac One", "sans-serif";
    --font-test: "Merriweather", "sans-serif";
    --font-secondary: "Radio Canada", "sans-serif";
    --color-primary:#EFD5B2;
    --color-secondary: #020002;
    --color-ternary:#BE5103;
    --color-coffee:#3B2F2F;
    --color-brownee:#622A0F;
    --color-coffeeBrown:#3B1C0A;
    --color-greenYellow: #CCFF00;
    --color-pear:#74B72E;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto; 
  gap: 8px;
}
  
.div1 {
  grid-column: span 4 / span 4;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row-start: 4;
}

.div5 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}

.div6 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 7;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f4e3ce;
}

@property --widthSquare {
  syntax: "<length>";
  initial-value: 20px;
  inherits: false;
}
.square {
  width: var(--widthSquare);
  aspect-ratio: 1/1;
  border: 3px solid #404f03;
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
  transform-origin: 100% 100%;
  animation: roll 2000ms ease infinite;
}
@keyframes roll {
  25% {
    transform: translate(calc(var(--widthSquare) * -1));
  }
  50% {
    transform: rotate(90deg) translateY(var(--widthSquare));
  }
  75% {
    transform: rotate(180deg) translateY(var(--widthSquare));
  }
  100% {
    transform: rotate(180deg) translate(var(--widthSquare), var(--widthSquare));
  }
}

@property --widthScroll {
  syntax: "<length>";
  initial-value: 90px;
  inherits: false;
}
.infinite-scroll {
  position: relative;
  width: calc(var(--widthSquare) * 3);
  height: 2px;
  overflow: hidden;
}
.infinite-scroll::before,
.infinite-scroll::after {
  content: "";
  position: absolute;
  width: var(--widthSquare);
  height: 100%;
  background: #404f03;
}
.infinite-scroll::before {
  left: calc(50% - var(--widthSquare) / 2);
  animation: moveBefore 2000ms ease infinite;
}
.infinite-scroll::after {
  left: 100%;
  animation: moveAfter 2000ms ease infinite;
}

@keyframes moveBefore {
  25% {
    left: 0;
  }
  50% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: -30px;
  }
}
@keyframes moveAfter {
  25% {
    left: 100%;
  }
  50% {
    left: calc(100% - var(--widthSquare));
  }
  75% {
    left: calc(100% - var(--widthSquare));
  }
  100% {
    left: calc(50% - var(--widthSquare) / 2);
  }
}
