@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

@theme{
    --font-primary: "Monomaniac One", "sans-serif";
    --font-secondary: "Merriweather", "sans-serif";
  
    --color-primary:#EFD5B2;
    --color-secondary: #020002;
    --color-ternary:#BE5103;
    --color-coffee:#3B2F2F;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto; 
  gap: 8px;
}
  
.div1 {
  grid-column: span 4 / span 4;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row-start: 4;
}

.div5 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}

.div6 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 7;
}